.metadata/
cellar/
.recommenders/
RemoteSystemsTempFiles/
cercailtuolibro/.project
cercailtuolibro/.classpath
cercailtuolibro.rar.old
cercailtuolibro/.settings/
cercailtuolibro/target/
cercailtuolibroM/target/
cercailtuolibro/.idea/
Servers/
cercailtuolibro2/
cercailtuolibroM/.idea/
cercailtuolibroM.rar
cercailtuolibro/
